/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

body {
    background-color: #EDEFEE;
    font-family: 'Markazi Text', sans-serif;
    margin: 3rem 5% 3rem 5%;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;    
}

header > img {
    max-width: 50%;
    height: auto;
}

/* Nav */
nav {
    margin: 2rem 0;

}

nav a {
    color: #EDEFEE;
    text-decoration: none;
}

nav ul {
    text-align: center;
    background-color: #333;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

nav li {
    display: inline-block;
    margin: 0 2.5%;
}

/* Main */
main {
    display: grid;
    grid-template-rows: auto 1fr;
    width: 100%; 
    row-gap: 1rem;
}

main h2 {
    font-size: 3rem;
    text-shadow: 5px 5px 10px #000B11;
}

main h3 {
    font-size: 2rem;
    padding: 1rem 0;
}

main article {
    border-radius: 25px;
    padding: 1rem;
}

main p {
    padding: 1rem 0;
}

main img {
    transition: filter 0.3s ease;
}

main img:hover {
    filter: grayscale(100%);
}

main .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 1rem; 
}

main .row article {
    background-color: #F4E5D6;
}

main ul {
    padding-left: 2rem;
}

main .promote-row {
    grid-column: 1 / -1;
}

main .promote-row article {
    background-image: url('assets/img/home/discount_banner.jpg');
    background-color: #000B11;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
    color: white;
}

/* Footer */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

footer img {
    max-width: 10%;
    height: auto;
}

footer > div:last-child { /* Copyright */
    text-align: right;
    border-top: 1px solid #333;
    margin-top: 1rem;;
}
